node_modules/
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
npm-debug.*
*.tsbuildinfo

.env
.env.local

ios/Pods/
ios/build/
android/app/build/
android/.gradle/
*.apk
*.aab
*.keystore
!debug.keystore
